.bg-foro {
  background-image: url("../images/bg-foro.webp");
}

.bg-foro {
  background-image: url("../images/bg-foro.webp");
}

/*FORO SINGLE*/
/*.rounded-circle {
  width: 3.75rem;
  height: auto;
}*/

.text-user {
  color: var(--bs-gray);
  text-transform: uppercase;
}

.card-member img {
  width: 145px;
  height: auto;
}

/* The progress container (grey background) */
.cpr-border {
  width: 100%;
  height: 6px;
  background: #fff;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #02a88c;
  width: 20%;
  margin-top: 4px;
}
